<!DOCTYPE html>
<html ng-app="MyApp">

<head>
    <title>MEAN Token Auth</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-swing/dist/angular-swing.js"></script>

    <style>
        body {
            padding-top: 70px;
        }
    </style>

</head>

<body>

    <div ng-controller="navbarCtrl">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a ng-if="!isAuthenticated()" a href="#/" class="navbar-brand">Home</a>
                    <a ng-if="isAuthenticated()" href="#/home" class="navbar-brand">Home</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li ng-if="!isAuthenticated()"><a href="#/login">Login</a></li>
                        <li ng-if="!isAuthenticated()"><a href="#/signup">Signup</a></li>
                        <li ng-if="isAuthenticated()"><a href="#/profile">Profile</a></li>
                        <li ng-if="isAuthenticated()"><a href="#/search">Search</a></li>
                        <li ng-if="isAuthenticated()"><a href="#/jobs">Jobs</a></li>
                        <li ng-if="isAuthenticated()"><a ng-click="logout()" href="">Logout</a></li>

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

    </div>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
                <div ng-view></div>
        </div>
        <!-- /.row -->

    </div>

    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

    <script src="../bower_components/angular-material/angular-material.js"></script>


    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/satellizer/0.12.5/satellizer.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="controllers/navbar.js"></script>
    <script type="text/javascript" src="controllers/login.js"></script>
    <script type="text/javascript" src="controllers/signup.js"></script>
    <script type="text/javascript" src="controllers/profile.js"></script>
    <script type="text/javascript" src="controllers/jobsCtrl.js"></script>
    <script type="text/javascript" src="controllers/modalCtrl.js"></script>
    <script type="text/javascript" src="controllers/searchCtrl.js"></script>
    <script type="text/javascript" src="controllers/detailCtrl.js"></script>
    <script type="text/javascript" src="services/jobDetailService.js"></script>
    <script type="text/javascript" src="services/userService.js"></script>
    <script type="text/javascript" src="services/craigslistService.js"></script>
    <script type="text/javascript" src="services/diceService.js"></script>
    <script type="text/javascript" src="services/indeedService.js"></script>






  </body>

</body>

</html>
