<div class="container-fluid main" id="page-top">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 some-notes">
            <div class="title">
                <h2>Currently, you can search...</h2>
            </div>
            <div class="desc col-md-8 col-md-offset-2">
                <form>
                  <div>
                      <button class="btn btn-block" ng-click="getCraigslistDetail()">Craigslist</button>
                  </div>
                  <br>
                  <div>
                      <button class="btn btn-block" ng-click="getIndeedDetail()">Indeed</button>
                  </div>
                  <br>
                  <div>
                      <button class="btn btn-block" ng-click="getDiceDetail()">Dice</button>
                  </div>
                  <br>
                  <br>
                  <div>
                      <button class="btn btn-block btn-lg btn-primary" ng-click="changeView('/detail'); setAllJobs()">Let's see 'em</button>
                  </div>
               </form>
            </div>
        </div>
    </div>
</div>


<!-- <ul ng-show="job.alchemy" class="list-group list-group-flush">
    <li class="list-group-item">Keyword: {{data.text}}</li>
    <li class="list-group-item">Relevance: {{data.relevance}}</li>
    <li class="list-group-item">type: {{data.sentiment.type}}</li>
    <li class="list-group-item">score: {{data.sentiment.score}}</li>
</ul> -->



<!--  <button class="btn btn-block btn-default" ng-click="changeView('/detail')"><a href="#/detail">Let's see 'em</a></button>
 -->

<!--
<div class="container">
  <div class="row">
    <table class="table table-striped">
      <thead>
          <tr>
            <th>Job Title</th>
            <th>More Info</th>
          </tr>
      </thead>
      <tbody ng-repeat="job in craigslistData">
        <tr>
          <td class="col-xs-10">{{job.title}}</td>
          <td class="col-xs-2">
            <button class="btn btn-lg btn-block btn-primary" ng-mouseover="searchDetail()" ng-click="openModal()">
              Detail
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->

<!-- must have this on the site to use glassdoor's api -->
<!-- <a href='https://www.glassdoor.com/index.htm'>powered by <img src='https://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a> -->
<!--
https://angel.co/jobs#find/f!%7B%22locations%22%3A%5B%22Denver%22%5D%2C%22types%22%3A%5B%22full-time%22%5D%7D

github jobs
https://jobs.github.com/positions?description=&location=denver

https://jobs.github.com/positions?description=javascript+junior&location=

https://authenticjobs.com/#types=7,1,3&location=ll_39.756670899999996,-104.97341469999999
https://authenticjobs.com/#types=7,1,3&search=javascript%20junior
 -->
