


<div class="container-fluid main" id="page-top">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 some-notes">
            <div class="title">
                <h2>Welcome <em>{{email}}</em>...<br>...update your search info?</h2>
            </div>
            <div class="desc col-md-8 col-md-offset-2">
                <form ng-submit="updateUser(newEmail)">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="newEmail" placeholder="email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="newSearchTitle" placeholder="Job Title">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="newSearchKeyword" placeholder="Keyword">
                    </div>
                    <div class="form-group">
                        <input type="city" class="form-control" ng-model="newSearchCity" placeholder="City">
                    </div>
                    <div class="form-group">
                        <input type="state" class="form-control" ng-model="newSearchState" placeholder="State">
                    </div>
                    <button type="submit" class="btn btn-default btn-block">Update</button>
                  </form>
            </div>
        </div>
    </div>
    <div ng-if="message">
      <h3>{{message}}</h3>
    </div>
</div>
