


<div class="container-fluid review" id="page-top">
    <div class="row">
        <!-- <div class="col-md-10 col-md-offset-1 some-notes">
            <div class="title">
                <button class="btn btn-block" ng-click="sendEmail(index)">email these to yourself?</button>
            </div>
        </div> -->
        <br>
        <br>
            <div class="desc col-md-2">
            </div>
            <div class="desc col-md-8">
                    <div class="panel panel-default" ng-repeat="job in myJobs track by $index">
                        <div class="panel-heading">
                            <h4 class="panel-title">{{job.title}}</h4>
                        </div>
                        <div class="panel-body"
                            <p class="panel-text">{{job.description}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <a href="{{job.url}}" target="_blank" <li class="list-group-item">Original Posting</li></a>
                            <li ng-show="job.compensation"class="list-group-item">{{job.compensation}}</li>
                        </ul>

                       <!--  <ul ng-show="job.alchemy.length" class="list-group list-group-flush" >
                            <li class="list-group-item">Keyword: {{job.alchemy.text}}</li>
                            <li class="list-group-item">Relevance: {{job.alchemy.relevance}}</li>
                            <li class="list-group-item">type: {{job.alchemy.sentiment.type}}</li>
                            <li class="list-group-item">score: {{job.alchemy.sentiment.score}}</li>
                        </ul> -->

                        <div class="panel-footer">
                            <button class="btn btn-block btn-default" ng-click="analyze($index)">Analyze it</button>
                            <button class="btn btn-block" ng-click="sendEmail(index)">Email it</button>
                            <button class="btn btn-block btn-primary" ng-click="remove(index)">Remove it</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>





